.scout_cma_widget{
  background-color: grey;
  padding: 15px;
font-family: Oswald, Arial, Helvetica, sans-serif;
font-weight: 300;
line-height: 1.5;

}

.scout_cma_label{
  color: white;
  font-weight: normal;
  font-size: .9em;
}

.scout_cma_widget input{
  border-radius: 15px;
}

.scout_cma_line{
  margin-top: 8px;
}

.scout_cma_widget button{
  width: 100%;
    background-color: #222;
color: #fff;
    border: none;
    padding: 5px;
    font-size: 1em;
    font-family: Oswald, Arial, Helvetica, sans-serif;
font-weight: 300;
line-height: 1.5;
}


/* Layout */
.scout_cma_widget .col-sm-6.leftHalf{
  padding: 0px;
  padding-right: 10px;
}

.scout_cma_widget .col-sm-6.rightHalf{
  padding: 0px;
  padding-left: 10px;
  margin-top: 0px;
}

@media (max-width: 768px){
  .scout_cma_widget .col-sm-6.leftHalf{
    padding-right: 0px;
  }

  .scout_cma_widget .col-sm-6.rightHalf{
      margin-top: 8px;
      padding-left: 0px;
  }
}


/* Validation */
.scout_cma_note
{
  color: red;
  display: none;
}

.scout_cma_note_master .scout_cma_note{
  display: inline-block;
}

.input_invalid .scout_cma_note
{
  display: inline-block;
}

.scout_cma_widget button.cma_submit_button{
  cursor:pointer;
}

.scout_cma_widget button.cma_submit_button[disabled]{
  background-color: #767676;
}


.cma_success .cma_submit_button{
  display: none;
}

.cma_success .cma_message{
  display: block;
  background-color: #4c904c;
  border-color: green;
}

.cma_failed .cma_message{
  display: block;
  background-color: lightcoral;
  border-color: red;
}


.cma_message {
  width: 100%;
  display: none;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.cma_message{
  color: white;
  padding: 5px;
  font-size: .8em;
  text-align: center;
}
